<template>
  <div>
    <main class="people-view"></main>
    <h1>MultipleQuestion</h1>
    <section class="question">
      <article class="Gquestions" v-if="getCurrentQuestion">
        <div>
          <p id="Quest1">{{ getCurrentQuestion.question }}</p>
          <button
            id="toggleBtns"
            @click="handleUserAnswer(getCurrentQuestion.incorrect_answers[0])"
            class="GameQuestion"
          >
            {{ getCurrentQuestion.incorrect_answers[0] }}
          </button>
          <button
            id="toggleBtns"
            @click="handleUserAnswer(getCurrentQuestion.incorrect_answers[1])"
            class="GameQuestion"
          >
            {{ getCurrentQuestion.incorrect_answers[1] }}
          </button>
          <button
            id="toggleBtns"
            @click="handleUserAnswer(getCurrentQuestion.incorrect_answers[2])"
            class="GameQuestion"
          >
            {{ getCurrentQuestion.incorrect_answers[2] }}
          </button>
        </div>
      </article>
    </section>
  </div>
</template>

<script>
import { mapMutations, mapState, mapGetters } from "vuex";
// import{mapState,mapActions} from 'vuex'
export default {
  name: "MultiQuiz",

  data() {
    return {};
  },
  methods: {
    ...mapMutations([
      "setStep",
      "setScore",
      "setActive",
      "setUserAnswer",
      "setStep",
    ]),

    handleUserAnswer(answer) {
      if (this.userAnswers === this.questions.correct_answer) {
        this.score += 10;
        /* if (this.questions.corrent_answer === true) {
          this.boolscore === true;
          this.userAnswers === this.questions.incorrect_answers;
        } else {
          this.boolscore = false; */

        this.userAnswers === this.questions.incorrect_answers;
      }
      const nextstep = this.step + 1;

      this.setStep(nextstep);
      this.setUserAnswer(answer);
      this.$emit("toggleBtns", "disable-btns");
      this.disabled = true;
      if (nextstep == this.questions.length) {
        this.$router.push("/Score");
      }
    },
  },
  computed: {
    ...mapState(["questions", "settings", "step"]),
    ...mapGetters(["getCurrentQuestion"]),
  },
};
</script>

<style scoped>
.GameQuestion {
  border: 2px solid;
  background-color: rgb(147, 185, 163);
  font-family: "Times New Roman", Times, serif;
  border-radius: 40px;
  margin: 10px;
}
.toggleBtns {
  width: 50px;
  height: 50px;
}
</style>
