<template>
  <div id="display">
    <div>
      <label class="DisplayScore">Your Total Score</label>
      <p class="DisplayScore">{{ getResult.maxScore }}</p>
    </div>
    <div>
      <label class="DisplayWrongQuestions">Your Anser </label>
      <p class="Correct-Answer">{{ userAnswers[0] }}</p>
      <p class="Correct-Answer">{{ userAnswers[1] }}</p>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";
export default {
  name: "Score",
  computed: {
    ...mapState(["userAnswers", "score", " maxScore", "questions"]),
    ...mapGetters(["getResult", "getCurrentQuestion", " maxScore"]),
    ...mapMutations(["setSelectSetting"]),
  },
  method: {
    ...mapActions(["score", " maxScore", "userAnswers", "boolscore"]),
  },
};
</script>

<style>
.DisplayScore,
.Correct-Answer,
.DisplayWrongQuestions {
  width: auto;
  height: 50px;
  border: 2px solid;
  color: rgb(17, 20, 20);
  font-family: "Times New Roman", Times, serif;
  margin-top: 100px;
  margin: 20px;
  background-color: rgb(172, 225, 238);
}
#display {
  border: 2px solid rgb(176, 172, 238);
  border-radius: auto;
}
</style>
