<template>
  <div>
    <div id="MainPage">
      <h1 id="MainText">Trivia Game</h1>
      <div>
        <h1 id="GameHead">Quiz Game Setting</h1>
        <div class="input">
          <label class="">Number Of Question</label>
        </div>
        <div>
          <input
            v-model="settings.number"
            class="Option"
            type="number"
            id="NumberOfQuestion"
            name="tentacles"
            min="1"
            max="10"
            value="1"
          />
        </div>
        <div>
          <label class="selectCategory">Select Category:</label>
        </div>
        <div>
          <select
            v-model="settings.category"
            class="option"
            type="text"
            id="categorybox"
            name="tentacles"
          >
            <option
              v-for="category in categories"
              :key="category.id"
              :value="category.id"
            >
              {{ category.name }}
            </option>
          </select>
        </div>
        <div>
          <label class="selectDifficulty">Select Difficulty:</label>
        </div>
        <div>
          <select
            v-model="settings.difficulty"
            class="option"
            type="text"
            id="difficultybox"
            name="tentacles"
          >
            <label class="selectDifficulty">Select Type:</label>
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
          </select>
        </div>
        <div>
          <label class="selectType">Select Type:</label>
        </div>
        <div>
          <select
            v-model="settings.type"
            class="option"
            type="text"
            id="typebox"
            name="tentacles"
          >
            <option value="multiple">Multiple Choice</option>
            <option value="boolean">True /False</option>
          </select>
        </div>
        <div>
          <button id="Display" @click="startQuiz">Ready to Go</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";

export default {
  name: "StartPage",
  data() {
    return {
      settings: {
        number: 10,
        category: 0,
        difficulty: 0,
        type: 0,
        score: 0,
      },
    };
  },
  computed: {
    ...mapState(["categories", "selectedSettings", "questions"]),
  },
  methods: {
    ...mapActions(["fetchCategories", "fetchQuestions"]),
    ...mapMutations(["setSelectSetting"]),
    startQuiz() {
      this.setSelectSetting(this.settings);
      this.fetchQuestions();
      this.$router.push("/Quiz");
    },
  },
  created() {
    this.fetchCategories();
  },
};
</script>

<style scoped>
#MainPage {
  background: #688286;
  max-width: 500px;
  margin: auto;
  height: 500px;
  padding: 10px;
  border: 1px solid;
  box-shadow: 5px 10px #888888;
}
#MainText {
  color: white;
}
.option {
  appearance: none;
  background-color: wheat;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

#Display {
  background-color: #eb9f9f;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 50%;
  margin-top: 50px;
  margin-left: 30%;
}
button:hover {
  background-color: rgb(65, 51, 51);
  color: black;
}
</style>
