<template>
  <div id="app">
   <!--  <p v-if="isLoading">Selected Questions are as follow</p>
    <p v-if="error">{{ error }}</p>
    <section class="question">
    <article class="Gquestions" v-for="Gquestions in question" :key="Gquestions.type.multiple">
      <div>
        <p id ="Quest1" > {{Gquestions.question}} </p> 
      <button class ="GameQuestion">{{Gquestions.incorrect_answers[0]}} </button>
      <button class ="GameQuestion">{{Gquestions.incorrect_answers[1]}} </button>
      <button class ="GameQuestion">{{Gquestions.incorrect_answers[2]}} </button> 
       <p class = "Answer"> {{Gquestions.correct_answer}} </p> 
       
       </div>
       </article> 
       </section>-->
       <router-view/>
  </div>
</template>

<script>

</script>
<style >

</style>
